* {
    font-family: consolas;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #232323;
}

span {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: relative;
    padding: 8px 15px;
    margin: 8px 4px;
    border-radius: 10px;
    background: linear-gradient(180deg, #282828, #202020);
    box-shadow: inset -8px 0 8px rgba(0, 0, 0, .15),
                inset 0 -8px 8px rgba(0, 0, 0, .25),
                0 0 0 2px rgba(0, 0, 0, .75),
                10px 20px 25px rgba(0, 0, 0, .4);
    overflow: hidden;
}

span:before {
    position: absolute;
    top: 3px;
    left: 4px;
    bottom: 14px;
    right: 12px;
    background: linear-gradient( 90deg, #232323, #4a4a4a);
    border-radius: 10px;
    border-left: 1px solid #0004;
    border-bottom: 1px solid #0004;
    border-top: 1px solid #0009;
    box-shadow: -10px -10px 10px rgba(255, 255, 255, .25), 10px 5px 10px rgba(0, 0, 0, .15);
    content: '';
}
span i {
    font-size: 1.5em;
    font-style: normal;
    text-transform: uppercase;
    color: #fff;
    position: relative;
}